html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    background-color: #e9e5e5;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    width: 1320px;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    margin-top: 100px;
    height: 120px;
}

.container {
    display: flex;
}

ul {
    list-style: none;
    justify-content: center;
    align-items: center;
}

li {
    display: grid;
    text-align: center;
    margin: 1rem;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 12px 12px 24px #c6c3c3, -12px -12px 24px #ffffff;
}

a {
    color: black;
    text-decoration: none;
}

li:hover {
    cursor: pointer;
}

.facebookicon:active,
.instagramicon:active,
.youtubeicon:active {
    transform: scale(1.6);
    transition: boxshadow .3s, transform 6s cubic-bezier(.5,4,1,2);
    box-shadow: inset -2px -2px 8px rgb(255, 255, 255, 1),
    inset -2px -2px 12px rgb(255, 255, 255, 0.5),
    inset 2px 2px 4px rgb(255, 255, 255, 0.1),
    inset 2px 2px 8px rgb(0, 0, 0, 0.15);
}

form {
    justify-content: center;
}
